#espacio
{
  width: 80vw;
}
footer
{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100vw;
  justify-items: center;
  align-items:  center;
  color: #bfbfbf
}

.imgFooter
{
  max-width: 15%;
}

.puntaje
{
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 10vh;
  font-size: 100%;
  align-items: end;

}

.puntaje h2
{
  margin: 0;
}

.ModalContainer
{
  width: 100vw;
  height: 100%;
  position: fixed;
  top: -100vh;
  display: grid;
  z-index: 6;
  justify-content: center;
  align-content: center;
  background: rgba(22, 22, 22, 0.72);
  justify-items: center;
  align-items: center;


}
.ModalPerdiste
{
  box-shadow: 8px 8px 15px rgba(32, 32, 32, 0.86);
  position: relative;
  font-size: 169%;
  top: -50px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;

  background: #e2e2e2;
  width: 38vw;
  height: 65vh;
}

.ModalPerdiste h1
{
  margin: 0;
}
.hero
{
  display: grid;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}

#VolverAempezar
{
    background: white;
    width: 153%;
    height: 155%;
    border-radius: 8px;
    border: 2px solid #b1b1b1;
    transition: 0.5s;
    outline: none;
}

#VolverAempezar:hover
{
  transform: scale(1.1);
}

#VolverAempezar:active
{
  transition: 0.2;
  transform: scale(1.0);
}
